<article class="list-item list-item--hover {{ session.training.type }}">
    <div class="row">
        <div class="col-lg-3">
            <small class="session_small">
                <!-- time  -->
                <time class="session__date">
                    {{ session.dateBegin | date('l') | trans }} {{ session.dateBegin | date('d') }} {{ session.dateBegin | date('F') | trans }} {{ session.dateBegin | date('Y') }}
                    <br><span class="session__moment">
                        {{ session.dateBegin | time_diff }}
                    </span>
                </time>
                <!-- organization  -->
                {% if session.training.organization is defined %}
                    <div class="session__organization">{{ session.training.organization.name }}</div>
                {% endif %}
                <!-- label  -->
                <div class="session__type"><span class="label radius">{{ session.training.typeLabel }}</span></div>
            </small>
        </div>


        <div class="col-lg-9">
            <!-- title  -->
            <h4 class="session__title"><a href="{{ path('front.public.training', {id: session.training.id, sessionId: session.id}) }}">{{ session.training.name }} {{ session.status | sessionStatusLabel }} </a></h4>

            <div class="row">

                <div class="col-md-12">
                    <div class="session__text">
                        <p>
                            <span>{{ session.training.program | striptags | truncate(400, true) }}</span>
                        </p>
                    </div>

                    <div class="list-item__bottom">
                        <small>
                            {% if session.place is defined and session.place | length > 0 %}
                                <div class="session__place" ng-if="session.place.length" title="Lieu de la formation">
                                    <i class="glyphicon glyphicon-map-marker"></i>&nbsp;
                                        {{ session.place }}
                                </div>
                            {% endif %}
                            <div class="session__duration" ng-if="session" title="Durée de la formation"><i class="glyphicon glyphicon-calendar"></i>&nbsp;{{ session.hourNumber }} heure(s) sur {{ session.dayNumber }} jour(s)</div>
                            {% if session.participations is defined and session.participations | length > 0 %}
                                <div class="session__trainer" title="Intervenant(s) de la formation">
                                    <i class="glyphicon glyphicon-info-sign"></i>&nbsp;
                                    {% for key, participation in session.participations %}
                                        {% if participation is defined %}
                                            {% if key > 0 %}, {% endif %}
                                            {{ participation.trainer.fullName }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
