<ul class="list-inline training-detail-info">

    <!--training type-->
    <li class="training-detail title-sup session__type" title="Type de formation"><span class="label radius">{{ training.typeLabel }}</span></li>

    {% if training.category is defined and training.category.name is defined %}
        <li class="training-detail-info" title="Type d'événement"><i class="glyphicon glyphicon-comment"></i>&nbsp;&nbsp;{{ training.category.name }}</li>
    {% endif %}

    <!-- all -->
    <li class="training-detail-info" title="Thématique de la formation"><i class="glyphicon glyphicon-bookmark"></i>&nbsp;&nbsp;{{ training.theme.name }}</li>

    {% if training.publicTypes is defined and training.publicTypes | length > 0 %}
        <li class="training-detail-info" title="Public(s) prioritaire(s)"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;
            {% for key, publicType in training.publicTypes %}
                {% if key > 0 %}<span>, </span>{% endif %}
                {{ publicType.name }}
            {% endfor %}
        </li>
    {% else %}
        <li class="training-detail-info" title="Public(s) prioritaire(s)"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Tous publics</li>
    {% endif %}

    {% if session is defined and session.participations is defined and session.participations | length > 0 %}
        <li class="training-detail-info" title="Intervenant(s) de la formation"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;&nbsp;
            {% for key, participation in session.participations %}
                <span>
                    {% if key > 0 %}<span>, </span>{% endif %}
                    {{ participation.trainer.fullName }}
                </span>
            {% endfor %}
        </li>
    {% endif %}

    {% if training.supervisor is defined and training.supervisor | length > 0 %}
        <li class="training-detail-info" title="Responsable pédagogique de la formation"><i class="glyphicon glyphicon-certificate"></i>&nbsp;&nbsp;
            {% if training.supervisor.email is defined %}
                <a href="mailto:{{ training.supervisor.email }}">{{ training.supervisor.fullName }}</a>
            {% elseif training.supervisor.fullName is defined %}
                <span>{{ training.supervisor.fullName }}</span>
            {% endif %}
        </li>
    {% endif %}

    {% if training.institution is defined and training.institution | length > 0 %}
        <li class="training-detail-info" title="Unité"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;{{ training.institution.name }}</li>
    {% endif %}

    <!-- all -->
    {% if training.tags is defined and training.tags | length > 0 %}
        <li class="training-detail-info" title="Tags"><i class="glyphicon glyphicon-tags"></i>&nbsp;&nbsp;
            {% for key, tag in training.tags %}
                {% if key > 0 %}<span>, </span>{% endif %}
                {{ tag.name }}
            {% endfor %}
        </li>
    {% endif %}
</ul>