{% extends "SygeforCoreBundle:Taxonomy:layout.html.twig" %}

{# BREADCRUMB  #}
{% block breadcrumbs %}
    <ol class="breadcrumb full-height-item">
        <li><a href="{{ path('core.index') }}">Accueil</a></li>
        <li><a href="#">Administration</a></li>
        <li><a href="{{ path('taxonomy.index') }}">Vocabulaires</a></li>
        <li><a href="{{ path('taxonomy.view', { 'vocabularyId': vocabulary.vocabularyId }) }}">{{ vocabulary.vocabularyLabel }}</a></li>
        {% if organization is not null %}
            <li class="active"><a href="{{ path('taxonomy.view', { 'vocabularyId': vocabulary.vocabularyId, organizationId: organization.id }) }}">{{ organization.name }}</a></li>
        {% elseif vocabulary.vocabularyStatus == 2 %}
            <li class="active"><a href="{{ path('taxonomy.view', { 'vocabularyId': vocabulary.vocabularyId }) }}">Termes nationaux</a></li>
        {% endif %}
    </ol>
{% endblock %}

{# JAVASCRIPTS  #}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/sygeforcore/libs/nestable/jquery.nestable.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // nestable init
            {% if sortable %}
            $('.dd')
                .nestable({ maxDepth: {{ depth }} })
                .on('change', function() {
                    $.post(
                            Routing.generate('taxonomy.terms_order', {vocabulary: '{{ vocabulary.vocabularyId }}'}),
                            {'serialized': $(this).nestable('serialize')}
                    );
                });
            {% endif %}
            // delete protection
            /*$(".dd-actions .dd-action-remove").on('click', function() {
                return confirm("Souhaitez-vous supprimer définitivement ce terme du vocabulaire ?");
            });*/
        });
    </script>
{% endblock %}

{% block tabs %}
    {#display organization tabs if not a national vocabulary #}
    {% if vocabulary.vocabularyStatus != 0 %}
        <ul class="nav nav-tabs">
            {#if mixed add national tab#}
            {% if (vocabulary.vocabularyStatus == 2) and (canEditNationalTerms == true) %}
                <li {% if organization is null %} class="active" {% endif %} >
                    <a href="{{ path('taxonomy.view', {'vocabularyId': vocabulary.vocabularyId }) }}">Termes nationaux</a>
                </li>
            {% endif %}
            {#organizations tabs#}
            {% if (organizations | length > 1) or (canEditNationalTerms == true) %}
                {% for org in organizations %}
                    <li {% if organization is not null and org is defined and org.id == organization.id %} class="active" {% endif %}>
                        <a href="{{ path('taxonomy.view', {'vocabularyId': vocabulary.vocabularyId, 'organizationId': org.id}) }}">{{ org.name }}</a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}

{% block subcontent %}
    {% if terms | length > 0 %}
        <div class="dd">
            {{ _self.nested_tree(vocabulary, terms, sortable, organization) }}
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">Il n'y a aucun terme associé à ce vocabulaire.</div>
    {% endif %}

    {% if organization is not null %}
        <a class="btn btn-primary" href="{{ path('taxonomy.edit', { 'vocabularyId': vocabulary.vocabularyId, id: 'undefined', 'organizationId': organization.id }) }}">Ajouter un terme</a>
    {% else %}
        <a class="btn btn-primary" href="{{ path('taxonomy.edit', { 'vocabularyId': vocabulary.vocabularyId }) }}">Ajouter un terme</a>
    {% endif %}
{% endblock %}

{# MACRO : PANEL  #}
{% macro nested_tree(vocabulary, terms, sortable, organization) %}
    {% if terms | length > 0 %}
        <ol class="dd-list {% if not sortable %} dd-unsortable{% endif %}">
            {% for term in terms %}
                <li class="dd-item dd3-item" data-id="{{ term.id }}">
                    <div class="dd-actions">
                        {% if organization is not null %}
                            <a class="dd-action-edit btn mini" href="{{ path('taxonomy.edit', {'vocabularyId': vocabulary.vocabularyId, 'organizationId': organization.id, 'id': term.id}) }}" class="btn mini"><span class="fa fa-pencil"></span></a>
                        {% else %}
                            <a class="dd-action-edit btn mini" href="{{ path('taxonomy.edit', {'vocabularyId': vocabulary.vocabularyId, 'id': term.id}) }}" class="btn mini"><span class="fa fa-pencil"></span></a>
                        {% endif %}
                        {% if term.isLocked() == false %}
                            <a class="dd-action-remove btn mini red" href="{{ path('taxonomy.remove', {'vocabularyId': vocabulary.vocabularyId, 'id': term.id }) }}" class="btn mini red"><span class="fa fa-times"></span></a>
                        {% endif %}
                    </div>
                    <div class="dd-handle dd3-handle"></div>
                    {% if term.name | length > 230 %}
                        <div {% if term.isLocked() == true %} title="Ce terme est protégé par le système" {% endif %} class="dd3-content">{{ term.name | slice(0, 230) }}...</div>
                    {% else %}
                        <div {% if term.isLocked() == true %} title="Ce terme est protégé par le système" {% endif %} class="dd3-content">{{ term.name }}</div>
                    {% endif %}
                    {% if term.children is defined %}
                        {{ _self.nested_tree(vocabulary, term.children, sortable) }}
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    {% endif %}
{% endmacro %}
