{% extends "SygeforCoreBundle::layout.html.twig" %}
{% block breadcrumbs %}
    <ol class="breadcrumb full-height-item">
        <li><a href="{{ path('core.index') }}">Accueil</a></li>
        <li><a href="#">Administration</a></li>
        <li class="active"><a href="{{ path('user.index') }}">Utilisateurs</a></li>
    </ol>
{% endblock %}
{% block content %}
    <div class="list-view full-height-item is-grow">
        <div class="full-height-container is-absolute is-full-width">
            <div class="col-xs-12">
                <table class="table table-search table-hover">
                    <thead>
                        <tr>
                            <th>Identifiant</th>
                            <th>Centre</th>
                            <th>Activ&#233;</th>
                            <th>Date de dernier acc&#232;s</th>
                            {% if isAdmin %}
                                <th>Se connecter</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td><a href="{{ path('user.edit', { 'id': user.id }) }}">{{ user.getUserName() }}</a></td>
                            <td>{{ user.organization }}</td>
                            <td><span class="label label-{{ user.enabled ? 'success' : 'danger' }}">{{ user.enabled ? 'Actif' : 'Inactif' }}</span></td>
                            <td>{{ user.getLastLogin|date("d/m/Y H:i") }}</td>
                            {% if isAdmin %}
                                <td><a href="{{ path('user.login', {'id': user.id}) }}" title="{{ user.email }}"><i class="fa fa-user"></i></a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a class="btn btn-primary" href="{{ path('user.add') }}" role="button"><i class="fa fa-plus"></i> Ajouter un utilisateur</a>
            </div>
        </div>
    </div>
{% endblock %}
