{% extends "SygeforCoreBundle::layout.html.twig" %}

{% block breadcrumbs %}
    <ol class="breadcrumb full-height-item">
        <li><a href="{{ path('core.index') }}">Accueil</a></li>
        <li><a href="#">Administration</a></li>
        <li><a href="{{ path('user.index') }}">Utilisateurs</a></li>
        <li><a href="{{ path('user.edit', {id: user.id}) }}">{{ user.username }}</a></li>
        <li class="active"><a href="#">Suppression</a></li>
    </ol>
{% endblock %}

{% block content %}
    <div class="list-view full-height-item is-grow">
        <div class="full-height-container is-absolute is-full-width">
            <div class="col-xs-12" ui-view>
                <h1>Etes-vous certain de vouloir supprimer l'utilisateur {{ user.username }} ?</h1>
                <form method="POST">
                    <a class="btn btn-default" href="{{ path('user.edit', {id: user.id}) }}">Annuler</a>
                    <input type="submit" class="btn btn-danger" value="Supprimer l'utilisateur"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
