{#block institution correspondents#}
{% if user.institution is defined and user.institution | length > 0%}
    <section>
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <div>
                        <h4>Les correspondants de {{ user.institution.name }}</h4>
                        <ul>
                            {% if user.institution.trainingCorrespondents | length > 0 %}
                                {% for trainingCorrespondent in user.institution.trainingCorrespondents %}
                                    <li>{{ trainingCorrespondent.fullName }} - responsable formation : <a href="mailto:{{ trainingCorrespondent.email }}">{{ trainingCorrespondent.email }}</a></li>
                                {% endfor %}
                            {% endif %}
                            {% if user.institution.genericGenericManagerEmail | length > 1 %}
                                <li>Responsable hiérarchique : <a href="mailto:{{ user.institution.genericGenericManagerEmail }}">{{ user.institution.genericGenericManagerEmail }}</a></li>
                            {% endif %}
                            {% if user.institution.genericCOFOEmail | length > 1 %}
                                <li>Responsable COFO : <a href="mailto:{{ user.institution.genericCOFOEmail }}">{{ user.institution.genericCOFOEmail }}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}