<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ training.name }}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="{{ link }}\build\styles.css" rel="stylesheet" type='text/css'>
</head>
<body style="background-color: white">
    <div ng-if="training" class="row">
        <div class="col-md-9">
                <div class="pre-title">{{ training.typeLabel }} n°{{ training.id }} -  {{ training.organization.name }}</div>
                <h2><span>{{ training.name }}</span></h2>
                <div class="infos">
                    {% if training.theme is not null %}
                        <div><span>{{ training.theme.name }}</span></div>
                    {% endif %}
                    {% if training.tags is not null %}
                        <div><span>{{ training.tags|join('name') }}</span></div>
                    {% endif %}
                    <ul class="summary">
                        <li><label> Type</label>
                        {% if training.eventType is not null %}
                            <span>{{ training.eventType.name }}</span>
                        {% endif %}
                        </li>
                        <li><label> National</label> <span>{{ training.national ? 'Oui' : 'Non' }}</span></li>
                        <li><label> Nature</label>
                        {% if training.eventKind is not null %}
                            <span>{{ training.eventKind.name  }}</span>
                        {% endif %}
                        </li>
                        <li><label> Partenaires</label> <span> {{ training.partners }}</span></li>
                        <li><label> Tarif</label>
                        {% if training.session is not null %}
                            <span> {{ training.session.price }}</span>
                        {% endif %}
                        </li>
                        <li><label> Statut</label>
                        {% if training.session is not null %}
                            <span> {{ training.session.published ? 'En ligne' : 'Hors ligne' }}</span>
                        {% endif %}
                        </li>
                    </ul>
                </div>

                <h3><span>Objectifs</span></h3>
                <p><span>{{ training.objectives|nl2br }}</span></p>

                <h3><span>Programme</span></h3>
                <p><span>{{ training.program|nl2br }}</span></p>

                <h3><span>Informations</span></h3>
                {% if training.session is not null %}
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="summary">
                                <li><label> Date</label> <span>{{ training.session.dateBegin|date('d/m/Y') }}</span></li>
                                <li><label> Date limite d'inscription</label> <span>{{ training.session.limitSubscriptionDate|date('d/m/Y') }}</span></li>
                                <li><label> Lieu</label> <span>{{ training.session.place }}</span></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="summary">
                                <li><label> Places disponibles</label> <span>{{ training.session.maximumNumberOfSubscriptions }}</span></li>
                                <li><label> Inscrits</label> <span>{{ training.session.numberOfSubscriptions }}</span></li>
                                <li><label> Présents</label> <span>{{ training.session.numberOfParticipants }}</span></li>
                            </ul>
                        </div>
                    </div>
                    <h3><span>Coût</span></h3>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="summary">
                                <li><label> Intervenants</label> <span>{{ training.session.externTrainerCost }}&euro;</span></li>
                                <li><label> Accueil</label> <span>{{ training.receptionCost }}&euro;</span></li>
                            </ul>
                        </div>

                        <div class="col-md-6">
                            <ul class="summary">
                                <li><label> Documents</label> <span>{{ training.session.reprographyCost }}&euro;</span></li>
                                <li><label> Divers</label> <span>{{ training.session.otherCost }}&euro;</span></li>
                            </ul>
                        </div>
                    </div>
                    <h3><span>Observations</span></h3>
                    <p><span>{{ training.session.observations }}</span></p>
                {% else %}
                    <span>Pas de session.</span>
                {% endif %}
            </form>
        </div>
    </div>
</body>
</html>
