<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ training.name }}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="{{ link }}\build\styles.css" rel="stylesheet" type='text/css'>
</head>
<body style="background-color: white">
<div class="pre-title">{{ training.typeLabel }} n°{{ training.id }} -  {{ training.organization.name }}</div>
<h2><span>{{ training.name }}</span></h2>
<div class="infos">
    {% if training.theme is not null %}
        <div><span>{{ training.theme.name }}</span></div>
    {% endif %}
    {% if training.tags is not null %}
        <div><span>{{  training.tags|join('name') }}</span></div>
    {% endif %}
</div>

<h3><span>Objectifs</span></h3>
<p><span class="text-justify">{{ training.objectives|nl2br }}</span></p>

<h3><span>Contenu du programme</span></h3>
<p><span class="text-justify">{{ training.program|nl2br }}</span></p>

<h3><span>Ressources</span></h3>
<p><span class="text-justify">{{ training.resources|nl2br }}</span></p>

<h3><span>Action : {{ training.typeLabel }}</span></h3>
<div class="row">
    <div class="col-md-6">
        <ul class="summary">
            <li><label> Etablissement</label>
            {% if training.institution is not null %}
                <span>{{ training.institution.name }}</span>
            {% endif %}
            </li>
            <li><label> Contexte</label> <span>{{ training.context }}</span></li>
            <li><label> Evaluation</label> <span>{{ training.evaluation ? 'Oui' : 'Non' }}</span>
            <li><label> Cursus d'enseignement</label>
            {% if training.teachingCursus is not null %}
                <span>{{ training.teachingCursus.name }}</span>
            {% endif %}
            </li>
            {% if training.teachingCursus is not null and training.teachingCursus.isMachineName('other') %}
                <li> <label> Autre cursus</label> <span>{{ training.otherCursus }}</span></li>
            {% endif %}
            <li><label> Domaine disciplinaire</label>
            {% if training.disciplinary is not null %}
                <span>{{ training.disciplinary.name }}</span>
            {% endif %}
            </li>
        </ul>
    </div>
</div>

<h3><span>Commentaires</span></h3>
<p><span>{{ training.comments }}</span></p>

<h4>Sessions <span>({{ training.sessions|length}})</span></h4>
{% if training.sessions|length == 0 %}
    <div class="well well-sm">
        Il n'y a aucune session.
    </div>
{% endif %}
<ul class="list list-grid">
    {% for session in training.sessions %}
        <li>
            {{ session.dateBegin |date("d/m/Y") }}
        </li>
    {% endfor %}
</ul>
</body>
</html>
