{% extends "@Front/base.html.twig" %}
{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', _self] %}

{% block form_label_class -%}
    col-sm-3
{%- endblock form_label_class %}

{% block form_group_class -%}
    col-sm-9
{%- endblock form_group_class %}

{% block header %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <h3>Bienvenue sur la plateforme formation open source Sygefor3</h3>
                    <h1>Réinitialiser votre mot de passe</h1>
                </div>
            </div><!-- /row -->
        </div> <!-- /container -->
    </header>
{% endblock %}

{% block body %}
    <section class="main">
        <div class="container top-margin">
            <div class="row">
                <div class="col-md-12">
                    <p>Saisissez un nouveau mot de passe pour <strong>{{ email }}</strong>. Nous vous recommandons vivement de créer un mot de passe unique, que vous n'utilisez pas pour d'autres sites Web.</p>
                    <p>Remarque : Une fois modifié, vous ne pouvez pas réutiliser votre ancien mot de passe !</p>

                    <div class="top-maring">
                        {{ form_start(form) }}
                        {{ form_row(form.currentPassword) }}
                        {{ form_row(form.plainPassword) }}
                        {{ form_errors(form) }}
                        <div class="row top-margin">
                            <div class="col-md-12">
                                <input type="submit" value="Réinitialiser le mot de passe" class="btn btn-primary btn-block">
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}
