{% extends "user/layout.html.twig" %}
{% set breadcrumb_item = 'Profil' %}

{% block subcontent %}
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {% if form.organization is defined %}
        {{ form_row(form.organization) }}
    {% endif %}
    {% if form.accessRightScope is defined %}
        {{ form_row(form.accessRightScope) }}
    {% endif %}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.enabled) }}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            {% if user.id and isAdmin == false %}
                <a href="{{ path('user.remove', { 'id': user.id }) }}" class="btn btn-default btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Supprimer</a>
            {% elseif user.id and isAdmin %}
                <a href="#" title="L'utilisateur est un administrateur et ne peut pas être supprimé" class="btn btn-default btn-sm pull-right"><i class="fa fa-times-circle"></i> Supprimer</a>
            {% endif %}
        </div>
    </div>
    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
