{% import "SygeforActivityReportBundle::macros.html.twig" as macros %}

<section>
    <h2>Croisements</h2>
    <h3>Thématiques</h3>
    {{ macros.crosstab('Thématiques par types', report.crosstabs.theme_type) }}
</section>

<section>
    <h3>Publics / formation</h3>
    {{ macros.crosstab('Répartition des publics par types de formation', report.crosstabs.public_type) }}
    {{ macros.crosstab("Répartition des professionnels de l'information par types de formation", report.crosstabs.legacy_public_type) }}
</section>

<section>
    <h3>Publics / origines géographiques</h3>
    {{ macros.crosstab('Répartition des publics dans les stages par origine géographique', report.crosstabs.public_orig.internship) }}
    {{ macros.crosstab('Répartition des publics dans les enseignements de cursus par origine géographique', report.crosstabs.public_orig.training_course) }}
    {{ macros.crosstab('Répartition des publics dans les actions diverses par origine géographique', report.crosstabs.public_orig.diverse_training) }}
    {% if report.crosstabs.public_orig.doctoral_training is defined %}
        {{ macros.crosstab('Répartition des publics dans les formations doctorales par origine géographique', report.crosstabs.public_orig.doctoral_training) }}
    {% endif %}
</section>

<section>
    <h3>Publics / discipline</h3>
    {{ macros.crosstab('Répartition des étudiants dans les enseignements de cursus par discipline', report.crosstabs.public_discipline.training_course) }}
    {{ macros.crosstab('Répartition des étudiants et enseignants-chercheurs dans les stages par discipline', report.crosstabs.public_discipline.internship) }}
    {{ macros.crosstab('Répartition des étudiants et enseignants-chercheurs dans les actions diverses par discipline', report.crosstabs.public_discipline.diverse_training) }}
    {% if report.crosstabs.public_discipline.doctoral_training is defined %}
        {{ macros.crosstab('Répartition des étudiants et enseignants-chercheurs dans les formations doctorales par discipline', report.crosstabs.public_discipline.doctoral_training) }}
    {% endif %}
    {{ macros.crosstab("Répartition des étudiants et enseignants-chercheurs dans l'ensemble des formations par discipline", report.crosstabs.public_discipline.all) }}
</section>

<section>
    <h3>Types / Partenariat</h3>
    {{ macros.crosstab("Répartition de l'ensemble des formations par type d'intervention", report.crosstabs.type_intervention) }}
    {{ macros.crosstab("Répartition de l'ensemble des formations par initiative", report.crosstabs.type_initiative) }}
    {{ macros.crosstab("Répartition de l'ensemble des formations par type d'intervenant", report.crosstabs.type_intervenant) }}
</section>
