{% import "SygeforActivityReportBundle::macros.html.twig" as macros %}

<section>
    <h2>Croisements</h2>
    <h3>Thématiques</h3>
    {{ macros.crosstab('Thématiques par types', report.crosstabs.theme_type) }}
</section>

<section>
    <h3>Publics / formation</h3>
    {{ macros.crosstab('Répartition des publics par types de formation', report.crosstabs.public_type) }}
</section>

<section>
    <h3>Publics / origines géographiques</h3>
    {{ macros.crosstab('Répartition des publics dans les stages par origine géographique', report.crosstabs.public_orig.internship) }}
</section>

<section>
    <h3>Types / Partenariat</h3>
    {{ macros.crosstab("Répartition de l'ensemble des formations par initiative", report.crosstabs.type_initiative) }}
    {{ macros.crosstab("Répartition de l'ensemble des formations par type d'intervenant", report.crosstabs.type_intervenant) }}
</section>
