<table class="table">
    <caption>{{ caption }}</caption>
   <thead>
       <tr>
           <th>Intitulé</th>
           <th>Thématique</th>
           <th>Nombre de cours</th>
           <th>Nombre d'heures</th>
           <th>Cursus</th>
           <th>Participants</th>
           <th>Discipline</th>
           <th>Type de formation</th>
       </tr>
   </thead>
   <tbody>
       {% for training in data %}
           <tr>
               <td>{{ training.name }}</td>
               <td>{{ training.theme }}</td>
               <td>{{ training.sessions }}</td>
               <td class="text-right">{{ training.hourDuration }}</td>
               <td>{{ training.teachingCursus }}</td>
               <td class="text-right">{{ training.numberOfParticipants }}</td>
               <td>{{ training.disciplinary }}</td>
               <td>{{ training.interventionType }}</td>
           </tr>
       {% endfor %}
   </tbody>
</table>
