{% extends "taxonomy/layout.html.twig" %}

{% block breadcrumbs %}
    <ol class="breadcrumb full-height-item">
        <li><a href="{{ path('core.index') }}">Accueil</a></li>
        <li><a href="#">Administration</a></li>
        <li class="active"><a href="{{ path('taxonomy.index') }}">Vocabulaires</a></li>
    </ol>
{% endblock %}

{% block content %}
    <div class="list-view full-height-item is-grow">
        <div class="full-height-container is-absolute is-full-width">
            <div class="col-xs-12">
                <table class="table table-search table-hover">
                    <thead>
                        <tr>
                            <th>Vocabulaire</th>
                            <th>Portée</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for vocabulary in vocabularies %}
                        <tr class="{{ vocabulary.canEdit ? '' : 'locked' }}" ng-class="{warning: isSelected(vocabulary.id)}">
                            <td><a href="{{ path('taxonomy.view', { 'vocabularyId': vocabulary.id }) }}">{{ vocabulary.vocabulary.vocabularyLabel }}</a></td>
                            <td><span class="badge">
                                    {% if vocabulary.scope == 0 %}
                                        Nationale
                                    {% elseif vocabulary.scope == 1 %}
                                        Local
                                    {% elseif vocabulary.scope == 2 %}
                                        Mixte
                                    {% else %}
                                        Non défini
                                    {% endif %}
                                </span></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
