{% extends "@SygeforFront/base.html.twig" %}

{% block header %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Mon compte</h1>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li><a href="{{ path('front.account.profile') }}" class="button secondary">Mon profil</a></li>
                <li><a href="{{ path('front.account.cofo') }}" class="button secondary">Espace correspondant formation</a></li>
                <li><a href="{{ path('front.account.registrations') }}" title="Pour gérer vos demandes d'inscription en cours et retrouver vos anciennes demandes" class="button secondary">Mes demandes d'inscription</a></li>
                <li class="active"><a href="{{ path('front.account.attendances') }}" title="Pour retrouver toutes les formations suivies et accéder à leurs documents" class="button secondary">Mes formations suivies</a></li>
            </ul>
        </div>
    </header>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{{ path('front.public.index') }}">Accueil</a></li>
                <li><a href="{{ path('front.account') }}">Mon compte</a></li>
                <li><a href="{{ path('front.account.attendances') }}">Mes formations suivies</a></li>
                <li><a class="active" href="">{{ attendance.session.training.name }}</a></li>
            </ol>
        </div>
    </div>
{% endblock breadcrumbs %}

{% block body %}
    <div class="container">
        <section>
            <div class="row">
                <div class="col-md-12 columns">
                    <section>
                        <div class="row attendances {{ attendance.session.training.type }}">
                            <div class="col-md-5">

                                <!-- Titre -->
                                <div class="session__type">
                                    <div class="session__type"><span class="label radius">{{ attendance.session.training.typeLabel }}</span></div>
                                    <h3>{{ attendance.session.training.name }}</h3>
                                </div>

                                <!-- Date(s) -->
                                <div title="Date de la session">
                                    <i class="glyphicon glyphicon-calendar"></i>&nbsp;&nbsp;
                                    <span>{{ attendance.session.dateBegin | date('l') | trans }} {{ attendance.session.dateBegin | date('d') }} {{ attendance.session.dateBegin | date('F') | trans }} {{ attendance.session.dateBegin | date('Y') }}</span>
                                </div>

                                <!-- Formateur(s) -->
                                <div title="Formateurs">
                                    {% if attendance.session.participations is defined and attendance.session.participations | length > 0 %}
                                        <i class="glyphicon glyphicon-info-sign"></i>&nbsp;&nbsp;
                                        {% for key, part in attendance.session.participations %}
                                            {% if key > 0 %}<span>, </span>{% endif %}
                                            <span>{{ part.trainer.fullName }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <!-- Lieu, Horaire -->
                                {% if attendance.session.place is defined and attendance.session.place.name is defined %}
                                    <div title="Lieu de la session"><i class="glyphicon glyphicon-map-marker"></i>&nbsp;&nbsp;{{ attendance.session.place.name }}</div>
                                {% endif %}

                                {% if attendance.session.schedule is defined %}
                                    <div title="Horaires de la session"><i class="glyphicon glyphicon-time"></i>&nbsp;&nbsp;{{ attendance.session.schedule }}</div>
                                {% endif %}

                                <a href="{{ path('front.public.training', {id: attendance.session.training.id, sessionId: attendance.session.id }) }}" class="btn btn-default">Voir la fiche descriptive</a>
                            </div>
                            <div class="col-md-7">
                                <!-- Téléchargement de l'attestation -->
                                <h4 class="mb-base">Attestation de présence</h4>
                                <a href="{{ path('front.account.attendance.attestation', {session: attendance.session.id}) }}" class="button btn btn-default"><i class="glyphicon glyphicon-save-file"></i> Télécharger mon attestation</a>

                                <h4 class="mb-base">Votre évaluation</h4>
                                {% if attendance.criteria is not defined or attendance.criteria | length == 0 %}
                                    <a href="{{ path('front.account.attendance.evaluation', {id: attendance.id}) }}" class="button btn btn-default"><i class="glyphicon glyphicon-pencil"></i> Remplir mon évaluation</a>
                                {% else %}
                                    <blockquote>
                                        {% for notedCriteria in attendance.criteria %}
                                            <small>
                                                {{ notedCriteria.criterion.name }} :
                                                {% for i in 1..notedCriteria.note %}
                                                    <i class="glyphicon glyphicon-star"></i>
                                                {% endfor %}
                                                {% if 5-notedCriteria.note > 0 %}
                                                    {% for i in 1..5-notedCriteria.note %}
                                                        <i class="glyphicon glyphicon-star-empty"></i>
                                                    {% endfor %}
                                                {% endif %}
                                            </small>
                                        {% endfor %}
                                    </blockquote>
                                {% endif %}

                                <!-- Téléchargement des supports -->
                                {% if attendance.session.allMaterials is defined and attendance.session.allMaterials | length > 0 %}
                                    <h4 class="mb-base">Supports</h4>
                                    {% for material in attendance.session.allMaterials %}
                                        <div>
                                            {% if material.url is not defined %}
                                                <span><i class="glyphicon glyphicon-save-file"></i>&nbsp;<a href="{{ path('material.get', {id: material.id}) }}">{{ material.name }}</a></span>
                                            {% else %}
                                                <span><i class="glyphicon glyphicon-globe"></i>&nbsp;<a href="{{ material.url }}" target="_blank">{{ material.name }}</a></span>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
{% endblock body %}