{% extends "@SygeforFront/base.html.twig" %}

{% block header %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Mon compte</h1>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li><a href="{{ path('front.account.profile') }}" class="button secondary">Mon profil</a></li>
                <li><a href="{{ path('front.account.registrations') }}" title="Pour gérer vos demandes d'inscription en cours et retrouver vos anciennes demandes" class="button secondary">Mes demandes d'inscription</a></li>
                <li class="active"><a href="{{ path('front.account.attendances') }}" title="Pour retrouver toutes les formations suivies et accéder à leurs documents" class="button secondary">Mes formations suivies</a></li>
            </ul>
        </div>
    </header>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{{ path('front.public.index') }}">Accueil</a></li>
                <li><a href="{{ path('front.account') }}">Mon compte</a></li>
                <li><a href="{{ path('front.account.attendances') }}">Mes formations suivies</a></li>
                <li><a href="{{ path('front.account.attendance', {session: attendance.session.id}) }}">{{ attendance.session.training.name }}</a></li>
                <li><a class="active" href="">Evaluation</a></li>
            </ol>
        </div>
    </div>
{% endblock breadcrumbs %}

{% block body %}
    <div class="container">
        <section>
            <div class="row">
                <div class="col-md-12 columns">
                    <section>
                        <div class="attendances {{ attendance.session.training.type }}">
                            {{ form_start(form) }}

                            {% for criteria in form.children.criteria %}
                                {{ form_row(criteria.children.inscription) }}
                                {{ form_errors(criteria.children.inscription) }}
                                {{ form_row(criteria.children.criterion) }}
                                {{ form_errors(criteria.children.criterion) }}
                                {{ form_row(criteria.children.note) }}
                                {{ form_errors(criteria.children.note) }}
                            {% endfor %}

                            {{ form_row(form.message) }}
                            {{ form_errors(form.message) }}

                            {{ form_errors(form) }}

                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary btn-block">Evaluer</button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
{% endblock body %}