<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ training.name }}</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="{{ link }}\build\styles.css" rel="stylesheet" type='text/css'>
</head>
<body style="background-color: white">
    <div class="pre-title">{{ training.typeLabel }} n°{{ training.number }} -  {{ training.organization.name }}</div>
    <h2><span>{{ training.name }}</span></h2>
    <div class="infos">
        <div><span>Thème : </span> <span>{{ training.theme.name }}</span></div>
        {% if training.areas.count > 0 %}
            <div><span>Domaines : </span> <span>{{ training.areas | join('name') }}</span></div>
        {% endif %}
    </div>

    <h3><span>Objectifs</span></h3>
    <p><span class="text-justify">{{ training.description|nl2br }}</span></p>

    <h3><span>Contenu du programme</span></h3>
    <p><span class="text-justify">{{ training.program|nl2br }}</span></p>

    <h3><span>Méthodes pédagogiques</span></h3>
    <p><span class="text-justify">{{ training.teachingMethods|nl2br }}</span></p>

    <h3><span>Action : {{ training.typeLabel }}</span></h3>
    <div class="row">
        <div class="col-md-6">
            <ul class="summary">
                <li><label>Public</label> <span>{{ training.publicType }}</span></li>
                <li><label>Catégorie</label> <span>{{ training.category }}</span></li>
                <li><label>Prérequis</label> <span>{{ training.prerequisites }}</span></li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="summary">
                <li><label>Initiative extérieure</label> <span>{{ training.externalInitiative ? 'Oui' : 'Non' }}</span></li>
                <li><label>Type d'intervention</label> <span>{{ training.interventionType }}</span></li>
                <li><label>Tarifs</label> <span>{{ training.prices }}</span></li>
                <li><label>Responsable pédagogique</label>
                    {% if training.supervisor is not null %}
                    <span>{{ training.supervisor.fullName }}</span>
                    {% endif %}
                </li>
                <li><label>1<sup>ère</sup> session : </label>
                    <span>
                        {% if training.sessions|length == 0 %}
                            <span>1er semestre</span>
                        {% else %}
                            <span>2ème semestre</span>
                        {% endif %}
                        <span class="inline-block">{{ training.firstSessionPeriodYear }}</span>
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <h3><span>Commentaires</span></h3>
    <p><span>{{ training.comments }}</span></p>

    <h4>Sessions <span>({{ training.sessions|length}})</span></h4>
        {% if training.sessions|length == 0 %}
            <div class="well well-sm">
                Il n'y a aucune session.
            </div>
        {% endif %}
    <ul class="list list-grid">
        {% for session in training.sessions %}
            <li>
                {{ session.dateBegin |date("d/m/Y") }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
