{% extends "SygeforCoreBundle::layout.pdf.twig" %}

{% block head %}
    <style>
        h2 {
            text-align: center;
            font-size: 28px;
            margin-top: 10px;
        }

        h3 {
            border-bottom: 1px solid #9f9f9f;
            padding-bottom: 5px;
            font-size: 16px;
            font-weight: 600;
        }

        .no-mt {
            margin-top: 0;
        }

        .no-mb {
            margin-bottom: 0;
        }

        p, ul, td {
            font-size: 14px;
        }

        table {
            width: 100%;
            font-size: inherit;
        }

        table p {
            line-height: 20px;
        }

        table td {
            border:1px solid #000000;
            padding:10px;
            width: 50%;
            vertical-align: top;
        }

        .lh {
            line-height: 200%;
        }

        .border {
            border:1px solid #000000;
            padding:2px 4px;
        }

        .no-pb {
            page-break-inside: avoid;
        }

    </style>
{% endblock  %}

{% block body %}

    <h2>Bulletin d'autorisation</h2>

    <div class="no-pb">
        <h3 class="no-mt">Stagiaire</h3>
        <p>
            <strong>Nom :</strong> {{ trainee.fullName }}<br>
            <strong>Établissement :</strong> {{ trainee.institution ? trainee.institution : '' }}<br>
            <strong>Adresse de contact :</strong> {{ trainee.fullAddress }}<br>
        </p>
    </div>

    <div class="no-pb">
        <h3>Stage(s)</h3>
        <ul>
            {% for session in sessions %}
                <li>
                    <strong>{{ session.training.typeLabel }} n°{{ session.training.number }} : {{ session.training.name }}</strong><br>
                    {% if (session.dateEnd) or (session.dateBegin | date('d/m/Y') == session.dateEnd | date('d/m/Y')) %}
                        <strong>Dates</strong> : du {{ session.dateBegin | date('d/m/Y') }} au {{ session.dateEnd | date('d/m/Y') }}
                    {% else %}
                        <strong>Date</strong> : le {{ session.dateBegin | date('d/m/Y') }}
                    {% endif %}
                    {% if session.schedule %}
                        - <strong>Horaires</strong> : {{ session.schedule }}
                    {% endif %}
                    {% if session.hourNumber %}
                        - <strong>Durée</strong> : {{ session.hourNumber }} heures
                        {% if session.dayNumber %}
                            sur {{ session.dayNumber }} jours
                        {% endif %}
                    {% endif %}
                    {% if session.place %}
                        - <strong>Lieu</strong> : {{ session.place }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% if sessions | length > 1 %}
            <em><strong>Rayer les intitulés des formations non validées*</strong></em>
        {% endif %}
    </div>

    <div class="no-pb">
        <h3>Classification de la formation professionnelle des agents publics</h3>
        <p><i>Circulaire d'application du décret n°2007-1470 du 15 octobre 2007 (pages 3 et 4) relatif à la Formation tout au long de la vie</i> - <strong>Ne le remplir que si votre administration le demande</strong></p>
        <table>
            <tr>
                <td>
                    <strong>DIF</strong> <i>(Droit Individuel à la Formation)</i>
                    <br><span class="box">&#9744;</span> <strong>Cocher la case correspondante</strong>
                </td>
                <td>
                    <span class="box">&#9744;</span> <strong>T2 : Evolution prévisible du métier</strong><br>
                    <span class="box">&#9744;</span> <strong>Oui utilisation du DIF nombre d'heures :</strong><br>
                    <span class="box">&#9744;</span> <strong>Non</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="box">&#9744;</span> <strong>T1 : Adaptation immédiate au poste de travail, utilisation du DIF non possible</strong>
                </td>
                <td>
                    <span class="box">&#9744;</span> <strong>T3 : Acquisition de nouvelles compétences</strong><br>
                    <span class="box">&#9744;</span> <strong>Oui utilisation du DIF nombre d'heures :</strong><br>
                    <span class="box">&#9744;</span> <strong>Non</strong>
                </td>
            </tr>
        </table>
    </div>

    <div class="no-pb">
        <h3>Administration</h3>
        <p><u>En cas d'autorisation requise :</u></p>
        <table>
            <tr>
                <td>
                    <p>
                        <strong>Avis du Chef de Service ou d'Etablissement</strong><br/>
                        Je soussigné(e) : ...........................................................................<br>
                        Directeur(trice) de : .......................................................................<br>
                        Autorise <strong>{{ trainee.fullName }}</strong><br>
                        A suivre le(s) stage(s) de
                        {% if organization.name | first | lower == "u" %}
                            l'
                        {% else %}
                            du
                        {% endif %}
                        {{ organization.name }} énuméré(s) ci-dessus<br>
                        Date :<br/>
                        Signature :
                    </p>
                </td>
                <td>
                    <p>
                        <strong>Avis du Responsable de la formation des personnels</strong><br/>
                        Je soussigné(e) : ...........................................................................<br>
                        Autorise <strong>{{ trainee.fullName }}</strong><br>
                        A suivre le(s) stage(s) de
                        {% if organization.name | first | lower == "u" %}
                            l'
                        {% else %}
                            du
                        {% endif %}
                        {{ organization.name }} énuméré(s) ci-dessus<br>
                        Date :<br/>
                        Signature :
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div class="no-pb">
        <h3>Coût des stages</h3>
        {% if trainee.institution %}
            <p class="border">Gratuits pour toute personne relevant du Ministère de l’Education Nationale, des Grands Etablissements de Recherche et pour les étudiants.</p>
        {% else %}
            <p>Vous êtes personnel hors Enseignement supérieur, Recherche et Education Nationale. Les stages de votre compagnie sont payants et devront être pris en charge par votre administration ou votre entreprise. Vous devez faire remplir l'encadré ci-dessous et nous le retourner dans les plus brefs délais :</p>
            <p class="lh border">
                Je soussigné(e) : ...........................................................................<br>
                Directeur(trice) de : .......................................................................<br>
                Atteste prendre en charge les coûts d'inscription du stagiaire, que je réglerai à réception de facture (30 jours fin de mois).<br>
                Montant : ..................... Euros<br>
                Date :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Signature :
            </p>
        {% endif %}
        <p>La signature de ce bulletin d'autorisation signifie que vous acceptez nos conditions d’inscription, précisées dans Sygefor, sans préjuger de la validation par le CRFCB de votre demande de stage.</p>
        <p>Fait à &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Le &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Signature :</p>
    </div>
{% endblock %}
