<article class="list-item list-item--hover {{ session.training.type }}">
    <div class="row">
        <div class="col-lg-3">
            <small class="session_small">
                <!-- time  -->
                <time class="session__date">
                    {% if session.datePrecisions | length == 0 %}
                        {% if session.dateEnd is not null and session.dateBegin | date('d/m/Y') == session.dateEnd | date('d/m/Y') %}
                            <div>le {{ session.dateBegin | date('d') }} {{ session.dateBegin | date('F') | trans }} {{ session.dateBegin | date('Y') }}</div>
                        {% else %}
                            <div>du {{ session.dateBegin | date('d') }} {{ session.dateBegin | date('F') | trans }} {{ session.dateBegin | date('Y') }}</div>
                            <div>au {{ session.dateEnd | date('d') }} {{ session.dateEnd | date('F') | trans }} {{ session.dateEnd | date('Y') }}</div>
                        {% endif %}
                    {% else %}
                        <div>{{ session.datePrecisions }}</div>
                    {% endif %}
                    <span class="session__moment">
                        {{ session.dateBegin | time_diff }}
                    </span>
                </time>
                <!-- label  -->
                <div class="session__type">
                    <span class="label radius">
                        <div>Date limite d'inscription :</div>
                        <div>{{ session.limitRegistrationDate | date('d') }} {{ session.limitRegistrationDate | date('F') | trans }} {{ session.limitRegistrationDate | date('Y') }}</div>
                    </span>
                </div>
            </small>
        </div>


        <div class="col-lg-9">
            <!-- title  -->
            <h4 class="session__title">
                <a href="{{ path('front.program.training', {id: session.training.id, sessionId: session.id}) }}">
                    {% if session.promote == true %}<i class="glyphicon glyphicon-star"></i>{% endif %}
                    {{ session.training.name }} {{ session.status | sessionStatusLabel }}
                </a>
            </h4>

            <div class="row">
                <div class="col-md-12">
                    <div class="session__text">
                        <p><strong>Objectifs : </strong><span>{{ session.training.description | raw }}</span></p>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="list-item__bottom">
                        <small>
                            {% if session.place is defined and session.place | length > 0 %}
                                <div class="session__place" ng-if="session.place.length" title="Lieu de la formation">
                                    <i class="glyphicon glyphicon-map-marker"></i>&nbsp;
                                        {{ session.place }}
                                </div>
                            {% endif %}
                            {% if session.hourNumber > 0 or session.dayNumber > 0 %}
                                <div class="session__duration" title="Durée de la formation"><i class="glyphicon glyphicon-calendar"></i>&nbsp;
                                    {% if session.hourNumber > 0 %}
                                        {{ session.hourNumber }}
                                    {% endif %}
                                    {% if session.hourNumber > 0 and session.dayNumber > 0 %}
                                        heure(s) sur
                                    {% endif %}
                                    {% if session.dayNumber > 0 %}
                                        {{ session.dayNumber }} jour(s)
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if session.participations is defined and session.participations | length > 0 %}
                                <div class="session__trainer" title="Intervenant(s) de la formation">
                                    <i class="fa fa-graduation-cap"></i>&nbsp;
                                    {% for key, participation in session.participations %}
                                        {% if participation is defined %}
                                            {% if key > 0 %}, {% endif %}
                                            {{ participation.trainer.fullName }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
