{% extends "SygeforCoreBundle::layout.html.twig" %}
{% block content %}
    <div class="list-view bg-transparent full-height-item is-grow">
        <div class="full-height-container is-absolute is-full-width">
            <div class="full-height-container is-absolute is-full-width is-direction-row">

                <!-- left col -->
                <div class="full-height-item grid-list-detail-results bg-white">
                    <div class="full-height-container is-full-width is-absolute is-direction-column">
                        <div class="full-height-item is-full-width is-grow is-overflow-y">
                            <div class="list-group">
                                {% for group,vocabularyc in vocabularies %}
                                    {% for voc in vocabularyc %}
                                        <div class="list-group-item {{ voc.id == id ? 'active' : '' }}">
                                            <a href="{{ path('taxonomy.view', { 'id': voc.id }) }}">
                                                <span class="badge pull-right" title="Vocabulaire {{ voc.scope == 'N' ? 'national' : 'local' }}">{{ voc.scope }}</span>
                                                <div class="list-group-item-title">{{ voc.vocabulary.vocabularyName }}</div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- right col -->
                <div class="full-height-item grid-list-detail-view">
                    <div class="full-height-container is-full-width is-absolute is-direction-column">
                        {{ block('tabs') }}
                        <div class="full-height-item is-overflow-y is-grow view bg-white">
                            <div ui-view>
                                {% block subcontent %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
