{% extends "SygeforFrontBundle::layout.pdf.twig" %}

{% block styles %}
    <style>
        .body {
            margin-top: 10px;
        }

        .validation {
            padding-top: 20px;
        }

        .signature {
            margin-top: 15px;
            margin-bottom: 50px;
        }

        h2 {
            text-align: center;
            font-size: 28px;
            margin-top: 20px;
        }

        h3 {
            margin-top: 20px;
            padding-bottom: 5px;
            font-size: 16px;
            font-weight: 600;
        }

        p, ul, td {
            font-size: 14px;
        }

        table {
            width: 100%;
            font-size: inherit;
        }

        table td, table th {
            border:1px solid #000000;
            padding:10px;
            width: 50%;
            vertical-align: top;
        }

        .center {
            text-align: center;
        }

        .border {
            border:1px solid #000000;
            padding:2px 4px;
        }

        fieldset {
            margin-top: 10px;
        }

        .block {
            height: 40px;
        }

        .no-pb {
            page-break-inside: avoid;
        }
    </style>
{% endblock  %}

{% block header %}
    <div class="row">
        <div class="col-xs-3">
            <img height="120px;" src="{{ app.request.getSchemeAndHttpHost() ~ asset('img/organization/cnrs/logo.png') }}" />
        </div>
        <div class="col-xs-9">
            <br/>
            <br/>
            Délégation Côte d’Azur<br/>
            Formation Permanente
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <h2>Demande de formation</h2>
            A renvoyer à<br/>
            formation@dr20.cnrs.fr
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
    <div class="col-xs-12 body">
    <div class="row no-pb">
        <div class="col-md-12">
            <h3>Stagiaire</h3>
            <p>
                <strong>Nom :</strong> {{ trainee.title }} {{ trainee.firstName }} {{ trainee.lastName }}<br>
                <strong>Etablissement employeur :</strong> {{ trainee.employer and trainee.employer.machineName == 'other' ? trainee.otherEmployer : trainee.employer }}<br>
                <strong>Code unité :</strong> {{ trainee.institution ? ((trainee.institution.laboratory ? trainee.institution.laboratory ~ ' - ' : '') ~ trainee.institution.code) : '' }}<br>
                <strong>Service :</strong> {{ trainee.service }}<br>
                <strong>Adresse :</strong> {{ trainee.institution ? trainee.institution.fullAddress : '' }}<br>
                <strong>Situation professionnelle : </strong>{% if trainee.employmentContractType is not null %} {{ (trainee.employmentContractType == 0 ? 'Titulaire ' : (trainee.employmentContractType == 1 ? 'Contractuel ' : ' ')) }} {% endif %}{% if trainee.employer is defined and trainee.employer | length > 0 and trainee.employer.name == "CNRS" and trainee.agentNumber is defined %}n° Agent : {{ trainee.agentNumber }}{% endif %}{% if trainee.status | length > 0 %}, {{ trainee.status }}{% endif %}
            </p>
        </div>
    </div>

    {% for registration in registrations %}
        <h3>Stage</h3>
        <table class="no-pb">
            <thead>
            <tr>
                <th class="center">Dates</th>
                <th class="center">N° et nom du stage</th>
                <th class="">Durée</th>
                <th class="center">Lieu</th>
                <th class="center">Typologie
                    <small>(T1, T2, T3)</small>
                </th>
                <th class="cente">
                    DIF
                    <small>(O/N)</small>
                </th>
                <th class="center">
                    PFU
                    <small>(O/N)</small>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ registration.session.dateRange | replace({'le ': ''}) }}</td>
                <td>{{ registration.session.training.trainingCode }} - {{ registration.session.training.name }}</td>
                <td>
                    {% if registration.session.hourNumber is defined and registration.session.hourNumber > 0 %}
                        {{ registration.session.hourNumber }} heure{% if registration.session.hourNumber > 1 %}s{% endif %}
                    {% endif %}
                    {% if (registration.session.hourNumber is defined and registration.session.hourNumber > 0) and (registration.session.dayNumber is defined and registration.session.dayNumber > 0) %}
                        &nbsp;sur&nbsp;
                    {% endif %}
                    {% if registration.session.dayNumber is defined and registration.session.dayNumber > 0  %}
                        {{ registration.session.dayNumber }} jour{% if registration.session.dayNumber > 1 %}s{% endif %}
                    {% endif %}
                </td>
                <td>{% if registration.session.place is defined and registration.session.place | length > 0 %}{{ registration.session.place.name }}{% endif %}</td>
                <td>{{ registration.typology }}</td>
                <td>{{ registration.dif ? 'O' : 'N' }}</td>
                <td>{{ registration.pfu ? 'O' : 'N' }}</td>
            </tr>
            </tbody>
        </table>

        <fieldset class="border no-pb">
            <h3>Motifivation de la demande</h3>
            <p>{{ registration.motivation }}</p>
        </fieldset>

        <div class="validation no-pb">
            <h3>Validations</h3>
            {% if trainee.institution is defined and trainee.institution.manager is defined and trainee.institution.manager | length > 0 %}
                <p>{{ trainee.institution.manager.title ? trainee.institution.manager.title }} {{ trainee.institution.manager.fullName }}</p>
            {% else %}
                <p>Nom du directeur d’unité ou responsable de service : </p>
            {% endif %}

            <fieldset class="border">
                <h4>Avis et/ou motifs</h4>
                <div class="block"></div>
            </fieldset>

            <div class="signature">
                <strong>Date et signature du Directeur d'unité </strong>
            </div>
            <div class="signature">
                {% if trainee.institution is defined and trainee.institution | length > 0 and trainee.institution.trainingCorrespondents | length > 0 %}
                    <p>{{ trainee.institution.trainingCorrespondents[0].title }} {{ trainee.institution.trainingCorrespondents[0].fullName }}</p>
                {% endif %}
                <strong>Date et signature du correspondant formation </strong>
            </div>

        </div>
        </div>
        </div>
    {% endfor %}
{% endblock %}
