{% extends "@Front/base.html.twig" %}

{% block header %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{{ training.name }} - {{ inscription.session.dateBegin | date('d/m/Y') }} - {{ inscription.trainee.fullName }}</h1>
                </div>
            </div>
            {% include '@Front/Account/menu.html.twig' %}
        </div>
    </header>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{{ path('front.program.index') }}">Accueil</a></li>
                <li><a href="{{ path('front.account') }}">Mon compte</a></li>
                <li><a href="{{ path('front.account.inscription.validator') }}">Demandes de validation</a></li>
                <li><a class="active" href="">{{ training.name }} - {{ inscription.session.dateBegin | date('d/m/Y') }} - {{ inscription.trainee.fullName }}</a></li>
            </ol>
        </div>
    </div>
{% endblock breadcrumbs %}

{% form_theme form with ["@SygeforCore/Form/bootstrap_3_horizontal_layout.html.twig", _self] %}
{% block form_label_class -%}col-sm-12{%- endblock form_label_class %}
{% block form_group_class -%}col-sm-12{%- endblock form_group_class %}

{% block body %}
    <div class="container">
        <section class="inscription training-detail-view {{ training.type }}">
            {% if inscription.session.isPublic and inscription.session.availablePlaces <= 0 %}
                <div class="alert alert-warning fade in">
                    Il n'y a plus de place disponible pour cette session
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-6">
                    {% include '@Front/Program/training/tags.html.twig' %}
                    <a href="{{ path('front.program.training', {id: training.id, sessionId: inscription.session.id}) }}" target="_blank">
                        Se rendre sur la fiche complète de la formation
                    </a>

                    {% if training.description is defined and training.description | length > 0 %}
                        <h4>Objectifs de la formation</h4>
                        <p>{{ training.description | raw }}</p>
                    {% endif %}

                    <h4>Session du {{ inscription.session.dateBegin | date('l') | trans | lower }} {{ inscription.session.dateBegin | date('d') }} {{ inscription.session.dateBegin | date('F') | trans }} {{ inscription.session.dateBegin | date('Y') }}</h4>
                    {% if inscription.session.name is defined and inscription.session.name != "" %}
                        <div>Intitulé : {{ inscription.session.name }}</div>
                    {% endif %}
                    <div>Nombre max. d'inscrits : {{ inscription.session.maximumNumberOfRegistrations }}</div>
                    <div>Nombre de places restantes : {{ inscription.session.availablePlaces }}</div>
                    <div>Date limite d'inscription : {{ inscription.session.limitRegistrationDate | date('l') | trans }} {{ inscription.session.limitRegistrationDate | date('d') }} {{ inscription.session.limitRegistrationDate | date('F') | trans }} {{ inscription.session.limitRegistrationDate | date('Y') }}</div>

                    {% if latestInscriptions.items | length > 0 %}
                        <div class="row">
                            <div class="col-md-12">
                                <h4>
                                    Dernières formations suivies dans le même domaine
                                    <span class="badge badge-default pull-right">
                                        {{ latestInscriptions.items | length <= latestInscriptions.pageSize ? latestInscriptions.items | length : latestInscriptions.items | length ~ ' / ' ~ latestInscriptions.pageSize }}
                                    </span>
                                </h4>
                                <ul>
                                    {% for inscription in latestInscriptions.items %}
                                        <li>
                                            <a href="{{ path('front.program.training', {id: inscription.session.training.id, sessionId: inscription.session.id}) }}"
                                               title="Inscrit(e) le {{ inscription.createdAt | date('d/m/Y') }}" target="_blank">
                                                {{ inscription.createdAt | date('d/m/Y') }} - {{ inscription.session.training.name }} {{ inscription.session.status | sessionStatusLabel }} :
                                            </a>
                                            <small class="session_small">
                                                <!-- time  -->
                                                <time class="session__date">
                                                    {% if inscription.session.dateEnd is not null and inscription.session.dateBegin | date('d/m/Y') == inscription.session.dateEnd | date('d/m/Y') %}
                                                        <span>le {{ inscription.session.dateBegin | date('d') }} {{ inscription.session.dateBegin | date('F') | trans }} {{ inscription.session.dateBegin | date('Y') }},</span>
                                                    {% else %}
                                                        <span>du {{ inscription.session.dateBegin | date('d') }} {{ inscription.session.dateBegin | date('F') | trans }} {{ inscription.session.dateBegin | date('Y') }},</span>
                                                        <span>au {{ inscription.session.dateEnd | date('d') }} {{ inscription.session.dateEnd | date('F') | trans }} {{ inscription.session.dateEnd | date('Y') }},</span>
                                                    {% endif %}
                                                    <span class="session__moment">
                                                        {{ inscription.session.dateBegin | time_diff }}
                                                    </span>
                                                </time>
                                            </small>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="col-md-5 col-md-offset-1">
                    <h4>{{ inscription.trainee.fullName }}</h4>
                    {{ form_start(form) }}
                    <div>Courriel : <a href="mailto:{{ inscription.trainee.email }}">{{ inscription.trainee.email }}</a></div>
                    <div>Statut : {{ inscription.status }}</div>
                    <div>Fonction : {{ inscription.function }} </div>
                    <div>BAP : {{ inscription.bap.name }}</div>
                    <div>Typologie : {% if inscription.typology | length > 0 %}{{ inscription.typology.name }}{% endif %} </div>
                    <div>Motivation : {{ inscription.motivation | nl2br }}</div>
                    {{ form_row(form.inscriptionStatus) }}
                    {{ form_row(form.priority) }}
                    {{ form_row(form.hierarchicalManagerReview) }}
                    {% if editable == 1 %}
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="submit" class="btn btn-primary btn-block" value="Enregistrer">
                            </div>
                        </div>
                        {{ form_end(form) }}
                    {% endif %}
                </div>
            </div>
    </section>
</div>
{% endblock body %}