{{ validator.title }},<br/><br/>

{% if inscription.trainee.title.id == 1 %}Le{% else %}La{% endif %} stagiaire {{ inscription.trainee.fullName }} a demandé à suivre la formation "{{ inscription.session.training.name }}" le {{ inscription.session.dateBegin | date('d/m/Y') }}.<br/><br/>

Nous vous demandons de bien vouloir traiter cette demande en vous reportant à l'adresse suivante :<br/>
<span class="text-center"><a href="{{ url('front.account.inscription.detail', {id: inscription.id}) }}">{{ url('front.account.inscription.detail', {id: inscription.id}) }}</a></span><br/><br/>

Vous pouvez à tout moment réaliser, en tant que « valideur formation », le suivi des demandes des agents sur l’espace dédié : <a href="{{ url('front.account') }}">{{ url('front.account') }}</a><br/><br/>

Cordialement,<br/>
L’équipe formation de l’IFSeM